<h1>{{name}}</h1>

<div class="container">
	<div class="row" style="padding: 10px;">
		<div class="col-md-6">
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Apps</a>			
			</div>
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Bookmarks</a>			
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Reports</a>			
			</div>
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>			
			</div>
		</div>
	</div>
	<div class="row" style="padding: 10px;">
		<div class="col-md-6">
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Users</a>			
			</div>
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Notes</a>			
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>			
			</div>
			<div class="col-md-6">
					<a href="#" style="width:100%;height: 50%;padding:15%;" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>			
			</div>
		</div>
	</div>
	<br>
	<br>
	<hr/>
	<br>
	<div class="row">	
		<div class="col-md-12">
		<h4>Actividades de hoy:</h4>
										Conduce pendiente por Facturar<span class="pull-right strong">- 15%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15"aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
										</div>
									
										20 New Factura<span class="pull-right strong">+ 30%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
										</div>
									
										359 Facturas<span class="pull-right strong">+ 8%</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8"aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
										</div>
		</div>
	</div>
</div>