<div class="container">
   <div class="row">
      <h1>{{name}}</h1>
   </div>
<hr>
</div>
<div class="row">
	<div class="col-md-offset-10">
		<a href="/addquotetrailers" class="btn btn-primary">Add Quote</a>	
		<button class="btn btn-primary">Edit Quote</button>	
	</div>
</div>
<br>
<form action="/addinvoice" method="post">
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th>&nbsp;</th>
            <th>Fecha</th>
            <th>Fecha Viaje</th>
            <th>Codigo de Referencia</th>
            <th>Ficha Camion</th>
            <th>Ficha Trailers</th>
            <th>Tarifa DOP</th> 
            <th>Tipo Conduce</th>           
         </tr>
      </thead>
      <tbody>
        {{#each quotes}}
         <tr>
            <td><input type="checkbox" name="numeroconduce" value="{{idConduce}}"></td>
            <td>{{fecha}}</td>        
            <td>{{fechaviaje}}</td>        
            <td>{{codigoreferencia}}</td>        
            <td>{{fichacamion}}</td>        
            <td>{{fichatrailers}}</td>        
            <td>{{tarifaDOP}}</td>        
            <td>{{tipoconduce}}</td>        
         </tr>
        {{/each}}         
      </tbody>
   </table>
</div>
<div class="pull-right">
      <button class="btn btn-success" name="tipoconduce" value="trailers" type="submit">Facturar</button> 
</div>
</form>