{{name}}
<div class="row">
	<div class="col-md-offset-10">
		<a href="/addquote" class="btn btn-primary">Add Quote</a>	
		<button class="btn btn-primary">Edit Quote</button>	
	</div>
</div>
<br>
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th>Fecha</th>
            <th>Fecha Viaje</th>
            <th>Codigo de Referencia</th>
            <th>Ficha Camion</th>
            <th>Ficha Trailers</th>
            <th>Tarifa DOP</th>
            <th>Tipo Conduce</th>
         </tr>
      </thead>
      <tbody>
        {{#each quotes}}
         <tr>
            <td>{{fecha}}</td>        
         </tr>
        {{/each}}
         <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
         </tr>
         <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
         </tr>
      </tbody>
   </table>
</div>